USE [project]
GO

-- Drop existing tables (This will now succeed because FKeys are gone)
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tickets]') AND type in (N'U'))
DROP TABLE [dbo].[Tickets]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producers]') AND type in (N'U'))
DROP TABLE [dbo].[Producers]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producer_Movie]') AND type in (N'U'))
DROP TABLE [dbo].[Producer_Movie]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Movies]') AND type in (N'U'))
DROP TABLE [dbo].[Movies]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Genre]') AND type in (N'U'))
DROP TABLE [dbo].[Genre]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
DROP TABLE [dbo].[Customer]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cinema_Movie]') AND type in (N'U'))
DROP TABLE [dbo].[Cinema_Movie]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cinema]') AND type in (N'U'))
DROP TABLE [dbo].[Cinema]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bookings]') AND type in (N'U'))
DROP TABLE [dbo].[Bookings]
GO
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Admin]') AND type in (N'U'))
DROP TABLE [dbo].[Admin]
GO

---

-- Table Creation

-- Admin Table
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Name] [varchar](100) NULL,
	[Admin_Email] [varchar](100) NULL,
	[Contact_No] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)
) ON [PRIMARY]
GO

-- Cinema Table
CREATE TABLE [dbo].[Cinema](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)
) ON [PRIMARY]
GO

-- Customer Table
CREATE TABLE [dbo].[Customer](
	[Customer_Email] [varchar](100) NOT NULL,
	[Customer_Name] [varchar](100) NULL,
	[Contact_No] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_Email] ASC
)
) ON [PRIMARY]
GO

-- Movies Table (Independent)
CREATE TABLE [dbo].[Movies](
	[Movie_Name] [varchar](100) NOT NULL,
	[Description] [varchar](max) NULL,
	[Running_Time] [int] NULL,
	[Release_Date] [date] NULL,
	[Age_Restriction] [varchar](10) NULL,
	[production_company] [varchar](100) NULL,
	[Distributed_by] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_Name] ASC
)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- Producers Table (Independent)
CREATE TABLE [dbo].[Producers](
	[ProducerID] [int] IDENTITY(1,1) NOT NULL,
	[Producer_Name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerID] ASC
)
) ON [PRIMARY]
GO

-- Bookings Table (References Customer, Movies)
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetime] NOT NULL,
	[No_Of_Tickets] [int] NOT NULL,
	[Mode_Of_Payment] [varchar](30) NULL,
	[BranchID] [int] NOT NULL,
	[Movie_Name] [varchar](100) NOT NULL,
	[Customer_Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)
) ON [PRIMARY]
GO

-- Cinema_Movie Table (References Cinema, Movies - Intersection/Joint Table)
CREATE TABLE [dbo].[Cinema_Movie](
	[BranchID] [int] NOT NULL,
	[Movie_Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC,
	[Movie_Name] ASC
)
) ON [PRIMARY]
GO

-- Genre Table (References Movies - Multi-valued attribute for Movie)
CREATE TABLE [dbo].[Genre](
	[Movie_Name] [varchar](100) NOT NULL,
	[Genre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_Name] ASC,
	[Genre] ASC
)
) ON [PRIMARY]
GO

-- Producer_Movie Table (References Movies, Producers - Intersection/Joint Table)
CREATE TABLE [dbo].[Producer_Movie](
	[Movie_Name] [varchar](100) NOT NULL,
	[ProducerID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Movie_Name] ASC,
	[ProducerID] ASC
)
) ON [PRIMARY]
GO

-- Tickets Table (References Bookings, Movies)
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Price_Per_Ticket] [decimal](10, 2) NULL,
	[Total_Amount] [decimal](10, 2) NULL,
	[Booking_Status] [varchar](30) NULL,
	[Movie_Name] [varchar](100) NOT NULL,
	[BookingID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)
) ON [PRIMARY]
GO

---

-- Data Insertion

SET IDENTITY_INSERT [dbo].[Admin] ON 
INSERT [dbo].[Admin] ([AdminID], [Admin_Name], [Admin_Email], [Contact_No]) VALUES (1, N'Ayesha Gill', N'ayesha.admin@cinema.com', N'03110000001')
INSERT [dbo].[Admin] ([AdminID], [Admin_Name], [Admin_Email], [Contact_No]) VALUES (2, N'Hamza Farooq', N'hamza.admin@cinema.com', N'03110000002')
INSERT [dbo].[Admin] ([AdminID], [Admin_Name], [Admin_Email], [Contact_No]) VALUES (3, N'Sara Malik', N'sara.admin@cinema.com', N'03110000003')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO

SET IDENTITY_INSERT [dbo].[Cinema] ON 
INSERT [dbo].[Cinema] ([BranchID], [BranchName]) VALUES (1, N'CineMax Karachi')
INSERT [dbo].[Cinema] ([BranchID], [BranchName]) VALUES (2, N'CineMax Islamabad')
SET IDENTITY_INSERT [dbo].[Cinema] OFF
GO

INSERT [dbo].[Customer] ([Customer_Email], [Customer_Name], [Contact_No]) VALUES (N'alice@gmail.com', N'Alice Johnson', N'03001234567')
INSERT [dbo].[Customer] ([Customer_Email], [Customer_Name], [Contact_No]) VALUES (N'david@gmail.com', N'David Smith', N'03215678900')
INSERT [dbo].[Customer] ([Customer_Email], [Customer_Name], [Contact_No]) VALUES (N'emma@outlook.com', N'Emma Watson', N'03004561234')
GO

INSERT [dbo].[Movies] ([Movie_Name], [Description], [Running_Time], [Release_Date], [Age_Restriction], [production_company], [Distributed_by]) VALUES (N'Barbie', N'A comedic and emotional journey of Barbie as she steps into the real world.', 110, CAST(N'2023-07-21' AS Date), N'U', N'LuckyChap Entertainment', N'Sony Pictures')
INSERT [dbo].[Movies] ([Movie_Name], [Description], [Running_Time], [Release_Date], [Age_Restriction], [production_company], [Distributed_by]) VALUES (N'F1: The Movie', N'A high-octane racing drama following the intense world of Formula 1.', 140, CAST(N'2025-03-14' AS Date), N'13+', N'Imagine Entertainment', N'Paramount Pictures')
INSERT [dbo].[Movies] ([Movie_Name], [Description], [Running_Time], [Release_Date], [Age_Restriction], [production_company], [Distributed_by]) VALUES (N'Frozen', N'Two sisters discover the true meaning of love and magic in Arendelle.', 108, CAST(N'2013-11-27' AS Date), N'U', N'Walt Disney Animation Studios', N'Walt Disney Studios')
GO

SET IDENTITY_INSERT [dbo].[Producers] ON 
INSERT [dbo].[Producers] ([ProducerID], [Producer_Name]) VALUES (1, N'James Wan')
INSERT [dbo].[Producers] ([ProducerID], [Producer_Name]) VALUES (2, N'Kathleen Kennedy')
INSERT [dbo].[Producers] ([ProducerID], [Producer_Name]) VALUES (3, N'Kevin Feige')
SET IDENTITY_INSERT [dbo].[Producers] OFF
GO

-- Data that relies on the above tables
INSERT [dbo].[Cinema_Movie] ([BranchID], [Movie_Name]) VALUES (1, N'Barbie')
INSERT [dbo].[Cinema_Movie] ([BranchID], [Movie_Name]) VALUES (1, N'F1: The Movie')
INSERT [dbo].[Cinema_Movie] ([BranchID], [Movie_Name]) VALUES (1, N'Frozen')
GO

INSERT [dbo].[Genre] ([Movie_Name], [Genre]) VALUES (N'Barbie', N'Comedy')
INSERT [dbo].[Genre] ([Movie_Name], [Genre]) VALUES (N'Barbie', N'Fantasy')
INSERT [dbo].[Genre] ([Movie_Name], [Genre]) VALUES (N'F1: The Movie', N'Action')
GO

INSERT [dbo].[Producer_Movie] ([Movie_Name], [ProducerID]) VALUES (N'Barbie', 3)
INSERT [dbo].[Producer_Movie] ([Movie_Name], [ProducerID]) VALUES (N'F1: The Movie', 4)
INSERT [dbo].[Producer_Movie] ([Movie_Name], [ProducerID]) VALUES (N'Frozen', 6)
GO

SET IDENTITY_INSERT [dbo].[Bookings] ON 
INSERT [dbo].[Bookings] ([BookingID], [Time], [No_Of_Tickets], [Mode_Of_Payment], [BranchID], [Movie_Name], [Customer_Email]) VALUES (1, CAST(N'2025-01-12T18:00:00.000' AS DateTime), 3, N'Card', 1, N'The Conjuring: Last Rites', N'alice@gmail.com')
INSERT [dbo].[Bookings] ([BookingID], [Time], [No_Of_Tickets], [Mode_Of_Payment], [BranchID], [Movie_Name], [Customer_Email]) VALUES (2, CAST(N'2025-01-13T20:00:00.000' AS DateTime), 2, N'Cash', 2, N'Barbie', N'sara@yahoo.com')
INSERT [dbo].[Bookings] ([BookingID], [Time], [No_Of_Tickets], [Mode_Of_Payment], [BranchID], [Movie_Name], [Customer_Email]) VALUES (3, CAST(N'2025-01-14T16:00:00.000' AS DateTime), 4, N'Card', 1, N'Frozen', N'emma@outlook.com')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO

SET IDENTITY_INSERT [dbo].[Tickets] ON 
INSERT [dbo].[Tickets] ([TicketID], [Date], [Price_Per_Ticket], [Total_Amount], [Booking_Status], [Movie_Name], [BookingID]) VALUES (1, CAST(N'2025-01-12' AS Date), CAST(1000.00 AS Decimal(10, 2)), CAST(3000.00 AS Decimal(10, 2)), N'Confirmed', N'The Conjuring: Last Rites', 1)
INSERT [dbo].[Tickets] ([TicketID], [Date], [Price_Per_Ticket], [Total_Amount], [Booking_Status], [Movie_Name], [BookingID]) VALUES (2, CAST(N'2025-01-13' AS Date), CAST(1000.00 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), N'Confirmed', N'Barbie', 2)
INSERT [dbo].[Tickets] ([TicketID], [Date], [Price_Per_Ticket], [Total_Amount], [Booking_Status], [Movie_Name], [BookingID]) VALUES (3, CAST(N'2025-01-14' AS Date), CAST(1000.00 AS Decimal(10, 2)), CAST(4000.00 AS Decimal(10, 2)), N'Confirmed', N'Frozen', 3)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO

---

-- Foreign Key Constraints

ALTER TABLE [dbo].[Bookings] WITH CHECK ADD FOREIGN KEY([Customer_Email])
REFERENCES [dbo].[Customer] ([Customer_Email])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] WITH CHECK ADD FOREIGN KEY([Movie_Name])
REFERENCES [dbo].[Movies] ([Movie_Name])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cinema_Movie] WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[Cinema] ([BranchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cinema_Movie] WITH CHECK ADD FOREIGN KEY([Movie_Name])
REFERENCES [dbo].[Movies] ([Movie_Name])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Genre] WITH CHECK ADD FOREIGN KEY([Movie_Name])
REFERENCES [dbo].[Movies] ([Movie_Name])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Producer_Movie] WITH CHECK ADD FOREIGN KEY([Movie_Name])
REFERENCES [dbo].[Movies] ([Movie_Name])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Producer_Movie] WITH CHECK ADD FOREIGN KEY([ProducerID])
REFERENCES [dbo].[Producers] ([ProducerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tickets] WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
ON DELETE CASCADE
GO